<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   package="net.johnpwood.android.standuptimer" 
   android:versionCode="5" android:versionName="1.4">
   <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">

      <activity android:name=".ConfigureStandupTimer" android:label="@string/app_name">
         <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
      </activity>

      <activity android:name=".About" android:label="@string/about_title"
         android:theme="@android:style/Theme.Dialog" />

      <activity android:name=".Help" android:label="@string/help_title"
         android:theme="@android:style/Theme.Dialog" />

      <activity android:name=".StandupTimer" android:label="@string/app_name" />
      <activity android:name=".TeamDetails" android:theme="@android:style/Theme.NoTitleBar" />
      <activity android:name=".MeetingDetails" android:label="@string/meeting_details" />
      <activity android:name=".Prefs" android:label="@string/settings_title" />
      <activity android:name=".TeamList" android:label="@string/team_label" />

   </application>
   <uses-permission android:name="android.permission.WAKE_LOCK" />
   <uses-sdk android:minSdkVersion="2" android:targetSdkVersion="8" />
   <supports-screens android:smallScreens="false" />
</manifest> 
